<style>
   .sidebar-ads-container {
      height: 1800px;
   }

   .sticky-sidebar-ad-wrapper {
      position: sticky;
		top:0;
   }
</style>

<div class="sidebar-ads-container ad-position-desktop">
   <div class="sticky-sidebar-ad-wrapper">

      <div class="cnc-ads cnc-ads--halfpage">
         <div class="cnc-ads__within" id="cnc_halfpage_1"></div>
      </div>

   </div>
</div>

