<!-- wrapper DIVu pro desktopove zobrazeni -->
<div class="ad-position--desktop">
	<div class="cnc-ads cnc-ads--billboard_bottom">
		<div class="cnc-ads__within" id="cnc_billboard_bottom_1"></div>
	</div>
</div>

<!-- wrapper DIVu pro mobilni zobrazeni -->
<div class="ad-position--mobile ad-position--tablet">
	<div class="cnc-ads cnc-ads--mobile_rectangle_3">
		<div class="cnc-ads__within" id="cnc_mobile_rectangle_3"></div>
	</div>
</div>
